In [ ]:
1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [7]:
x = 3
x =float(3)
print(x)
type(x)

3.0

float

In [8]:
y = 4.5
y = int(4.5)
print(y)
type(y)

4

int

In [9]:
z = "8"
z= int("5")
print(z)
type(z)

5

int

In [10]:
a = "12"
a = float("12")
print(a)
type(a)

12.0

float

In [15]:
b = "46.8" 
b1 = float("46.8")
c = int(b1)
print(c)
type(c)

46

int

In [ ]:
2
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri 
ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [17]:
ali = 30
tülin = 42
burak = 19

print("ali ninyası 25 den büyük mü?", ali>25)
print(" tülin veya ali büyük mü?", tülin> burak or ali> burak)
print("ali en büyük mü?", ali> tülin and tülin> burak)
print("burak ali den küçük mü?", burak < ali)
print("tülin ile ali aynı yas mı?", tülin == ali)

ali ninyası 25 den büyük mü? True
 tülin veya ali büyük mü? True
ali en büyük mü? False
burak ali den küçük mü? True
tülin ile ali aynı yas mı? False

In [ ]:
3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [20]:
number1 = int(input("Bir deger giriniz: "))
number2 = int(input('Bir deger giriniz: '))

# toplama
t= print( number1 + number2)
ci= print( number1 - number2)
ca= print( number1 * number2)
b= print( number1 / number2)

Bir deger giriniz:  5
Bir deger giriniz:  25

30
-20
125
0.2

In [ ]:
4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [22]:
name=input("İsminizi Giriniz: ")
age = int(input(" Yaşınızı giriniz: "))
city = input("Şehrinizi yazınız: ")
job = input("Mesleginizi girin: ")

İsminizi Giriniz:  Gizem
 Yaşınızı giriniz:  31
Şehrinizi yazınız:  izmir
Mesleginizi girin:  yazılımcı

In [ ]:
5
# "Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.

İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir.
İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ")
İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi")
"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [1]:
yapay_zeka =("Hi-Kod Veri Bilimi Atölyesi")
yapay_zeka.split()

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [2]:
yapay_zeka.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [3]:
yapay_zeka.lower()

'hi-kod veri bilimi atölyesi'