In [3]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
         "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
         "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

##### 1. Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [1]:
import pandas as  pd

In [12]:
data = pd.DataFrame(sozluk)
df = data
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

##### 2. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi)
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [15]:
df.loc[2,"Kategori"]

'Ayakkabı'

In [16]:
df.loc[2,"Ürün"]

'Sandalet'

In [17]:
df[4:10]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [18]:
df[1:7]["Ürün"]

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

##### 3. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [22]:
df[df[ "Kategori"] == "Giyim"]

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [24]:
df[df["Kategori"]== "Ayakkabı"]

   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

In [28]:
df[df["Kategori"]=="Aksesuar"]

   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

##### 4 Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [33]:
df[(df["Kategori"] == "Giyim") & (df["Fiyat"]>300)]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [34]:
df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"]<600)]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [35]:
df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"]>100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150